@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400&display=swap');

.App {
  font-family: "Inconsolata", "Courier New", monospace;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App h1 {
  font-weight: 200;
  font-size: 150px;
  width: 800px;
}

.tasks {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.newTaskButton {
  width: calc(100% + 2px);
  background-color: transparent;
  border: 1px solid black;
}

.newTaskButton:focus {
  outline: none;
}

.taskButton {
  background-color: transparent;
  border-color: transparent;
  width: 8%;
  cursor: pointer;
}

.taskButton:focus {
  outline: none;
}

.task {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  border: 1px solid black;
}

.firstTaskButton {
  margin-right: 10px;
  margin-left: auto;
}

.icon {
  margin-top: 2px;
  width: 100%;
}

.taskText {
  padding-left: 10px;
}

.taskDone {
  border-color: grey;
  color: grey;
}

.form {
  display: flex;
  width: 100%;
}

.form input {
  font-family: inherit;
  font-size: 100%;
}

.formText {
  background-color: transparent;
  border-color: transparent;
  width: 520px;
  padding: 10px;
}

.formText:focus {
  outline: none;
}

.formSubmit {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  width: 5%;
  height: 1%;
  margin: auto;
  margin-right: 10px;
  margin-left: auto;
}

.formSubmit:focus {
  outline: none;
}

@media screen and (max-width: 800px) {
  .App {
    width: 100%;
  }
  
  .App h1 {
    margin-top: 30px;
    font-size: 70px;
    width: 360px;
  }
  
  .tasks {
    width: 300px;
  }
  
  .taskButton {
    width: 15%;
  }
  
  .taskText {
    overflow: scroll;
    max-width: 180px;
  }
  
  .formText {
    width: 250px;
  }
}